html {
zoom: 85%;
box-sizing: border-box;
font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}


* {font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}

.wrapper-white {
width: 100vw;    
align-items: center;
position: relative;
}

.wrapper-grey {
width: 100vw;    
align-items: center;
position: relative;
background: #FBFBFB;
}

.h2-main-style {
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;

color: #252525;
}

/* первый div */

.div-works {
position: relative;
width: 1900px;
height: 1000px;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
}


/* Картинка с подложокй */

.bitmap-img-position {
position: absolute;
width: 1800px;
height: 904px;
left: 50px;
top: 50px;
}

.bitmap-img {    
z-index: 2;
}

.bitmap-wrapper1 {
background: linear-gradient(177.86deg, #000000 -41.81%, rgba(0, 0, 0, 0.0001) 82.48%);
z-index: 3;
}

.bitmap-wrapper2 {
background: linear-gradient(2.34deg, #000000 -44.57%, rgba(0, 0, 0, 0.0001) 17.83%);
z-index: 3;
}

.bitmap-wrapper3 {
background: linear-gradient(87.84deg, #000000 8.34%, rgba(0, 0, 0, 0.0001) 71.65%);
z-index: 3;
}

.bitmap-wrapper4 {
background: linear-gradient(270deg, #000000 -17.62%, rgba(0, 0, 0, 0.0001) 82.37%);
z-index: 3;
}
/* Меню навигации */

.menu {
z-index: 4;
display: flex;
justify-content: space-between;
position: absolute;
width: 503px;
height: 21px;
left: 986px;
top: 79px;  
}

.bitmap-links {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 1.94px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.underline-green {
text-decoration: underline;
text-decoration-style:solid;
text-decoration-color: #4CAF50;
}

.pointer {   
cursor: pointer;
}

.pointer:hover {
color: #4CAF50;
text-decoration: underline;
text-decoration-style:solid;
text-decoration-color: #4CAF50;
}


/* Текст первого div */

.bitmap-h1 {
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 107px;
text-transform: uppercase;
text-align: center;
letter-spacing: 4.608px;
color: #FFFFFF; 
position: absolute;
width: 1171.05px;
height: 98px;
left: 310.48px;
top: 383px;
display: flex;
align-items: flex-end;
z-index: 4;
}

.bitmap-description {

font-family: 'Open Sans';
font-size: 20px;
line-height: 23px; 
display: flex;
letter-spacing: 1.28px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.8;
z-index: 4;
position: absolute;
width: 1171.05px;
height: 27px;
left: 25%;
top: 505.5px;
display: flex;
align-items: flex-end;
}

.bitmap-slide {
position: absolute;
width: 107px;
height: 49px;
left: 843.59px;
top: 836px;
z-index: 4;
display: flex;
align-items: baseline;
}

.bitmap-slide-num {
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: flex-end;
letter-spacing: 1.152px;
color: rgba(255, 255, 255, 0.437245);
margin-right: 9px;

}

.bitmap-slide-selected {
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: flex-end;
letter-spacing: 2.304px;
color: #FFFFFF;
margin-right: 9px;
text-decoration: line-through;
text-decoration-style: solid;
text-decoration-color: #4CAF50;
}

/* второй div */

.div-about {
position: relative;
width: 1900px;
height: 825px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto 0;
}

.first-section {
position: absolute;
width: 1182px;
height: 559px;
right: 353px;
top: 130px;
}

.about-title {
position: absolute;
width: 230px;
height: 110px;
left: 0px;
top: 77px;

z-index: 5;
}

.about-h2 {
position: absolute;
left: 0px;
top: -4px;

white-space: nowrap;

text-transform: uppercase;
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: flex-end;
letter-spacing: 2.304px;

color: #333333;
}

.about-p1 {
position: absolute;
left: 0px;
top: 53px;

white-space: nowrap;

text-transform: uppercase;
font-family: 'Open Sans';
font-size: 42px;
line-height: 49px;
display: flex;
align-items: flex-end;
letter-spacing: 2.688px;

color: #504E4E;
}

.about-small-text {
position: absolute;
width: 311px;
height: 75px;
left: 871px;
top: 404px;

z-index: 5;
}

.hr {
width: 20px;
height: 2px;
background: #353535;
}

.hr1 {
position: absolute;
left: 0px;
top: 14px;
}

.about-p2 {
position: absolute;
width: 281px;
height: 75px;
left: 30px;
top: 0px;

display: flex;
align-items: center;}

.opensans-15-25 {    
font-family: 'Open Sans';
font-size: 15px;
line-height: 25px;
letter-spacing: 1.26px;

color: #5B5858;
}

.about-small-text2 {
position: absolute;
width: 311px;
height: 75px;
left: 21px;
top: 219px;

z-index: 5;
}

.hr2 {
position: absolute;
left: 0px;
top: 14px;
}

.about-p3 {
position: absolute;
width: 281px;
height: 75px;
left: 30px;
top: 0px;
display: flex;
align-items: center;

/* font-family: 'Open Sans';
font-size: 15px;
line-height: 25px;
letter-spacing: 1.26px;

color: #5B5858; */
}

.about-image1 {
position: absolute;
width: 309px;
height: 391px;
left: 193px;
top: 0px;

z-index: 4;
}

.image1-mask {
position: absolute;
width: 309px;
height: 391px;
left: 193px;
top: 0px;

margin: 0;

background: #F4F4F4;

z-index: 3;
}

.green-box {
position: absolute;
width: 309px;
height: 418px;
left: 403px;
top: 62px;

background: #4CAF50;
mix-blend-mode: normal;
opacity: 0.8;

z-index: 2;
}

.about-image2 {
position: absolute;
width: 309px;
height: 391px;
left: 613px;
top: 168px;

z-index: 1;
}

/* третий div */

.services-bg {
position: relative;
width: 1800px;
height: 690px;
left: 0px;
top: 0px;
margin: 0 auto 0;
}

.services-title {
position: absolute;
width: 283px;
height: 74px;
left: 315px;
top: 135px;
}

.services-h2-position {
position: absolute;
width: 281px;
height: 71px;
left: 0px;
top: -6px;

white-space: nowrap;
}

.services-hr{
position: absolute;
width: 45px;
height: 4px;
left: 0px;
top: 72px;

background: #252525;
}

/* boxes */

.service-products {
width: 1300px;
height: 300px;
position: absolute; 
left: 315px;
top: 294px;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
}

.services-branding {
width: 373px;
height: 260px;
position: relative;
background-color: #FFFFFF;
opacity: 0.8;
}

.services-design {
width: 373px;
height: 260px;
position: relative;
background-color: #FFFFFF;
opacity: 0.8;
}

.services-development {
width: 373px;
height: 260px;
position: relative;
background-color: #FFFFFF;
opacity: 0.8;
}

.box-pointer {   
cursor: pointer;
}

.box-pointer:hover {

border-width: 3px;
border-bottom-color: #4CAF50;
border-bottom-style: solid;
zoom: 120%;
opacity: 1;

}



/* box-inners */
/* .circle {
position: absolute;
width: 50px;
height: 50px;
left: 275px;
top: 50px;

color: yellow;

background-color: #ff0000;
box-shadow: 0px 0px 20px #DBDBDB;
} */

.branding-title {
position: absolute;
width: 87px;
height: 44px;
left: 44px;
top: 53px;
}

.services-h3 {
position: absolute;
width: 85px;
height: 30px;
left: 0px;
top: -3px;

font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: flex-end;
letter-spacing: 1.28px;
text-transform: uppercase;

color: #252525;

}

.services-hr2 {
position: absolute;
width: 35px;
height: 4px;
left: 0px;
top: 42px;

background: #252525;
}

.services-p1 {
position: absolute;
width: 281px;
height: 75px;
left: 43px;
top: 116px;

font-family: 'OpenSans';
font-size: 12px;
line-height: 25px;
/* or 208% */

display: flex;
align-items: center;
letter-spacing: 1.008px;

color: #777777;
}

.services-reed1 {
position: absolute;
width: 48px;
height: 15px;
left: 44px;
top: 210px;

font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: flex-end;
letter-spacing: 0.64px;
text-transform: uppercase;

text-decoration: none;

color: #252525;

mix-blend-mode: normal;
opacity: 0.5;
}

.img-services-design {
position: absolute;
width: 25px;
height: 25px;
left: 288px;
top: 63px;

background: url(Image.png);

opacity: 0.5;
}

.latest-works {    
width: 1185px;
height: 1652px;

margin: 0 auto 200px;
}

.lw-title {
position: relative;
width: 300px;
height: 130px;
left: 6px;
top: 57px;

}

.lw-h2 {
position: relative;
left: 0px;
top: -12px;
}

.lw-categories {
z-index: 1;

width: 549px;
height: 18px;

position: relative;
left: 6px;
top: 57px;
}

.lw-menu {
z-index: 4;

width: 549px;
height: 18px;


display: flex;
justify-content: space-between;
position: absolute;
}

.lw-links {

text-transform: uppercase;
text-decoration: none;
font-family: 'Open Sans';
font-size: 13px;
line-height: 15px;
display: flex;
align-items: flex-end;
letter-spacing: 0.832px;

color: #252525;
}

.lw-bold {
font-weight: bold;
}


.pointer-lw {   
cursor: pointer;
}

.pointer-lw:hover {    
font-weight: bold;
}

.lw-first {
position: relative;
width: 584px;
height: 556px;
left: 595px;
top: 0px;


}

.lw-img {
position: absolute;
width: 455px;
height: 444px;
background-color: #c7d4ee;
opacity: 0.4;
}

.lw-ph1-position {
left: 129px;
top: 0px;

background-image: url(/images/works3.png);
}

.lw-first-position {
position: absolute;
width: 295px;
height: 142px;
left: 0px;
top: 262px;
}

.lw-h3-style {
text-transform: uppercase;

font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;

color: #252525;

}

.lw-first-p1 {
position: absolute;
width: 116px;
height: 25px;
left: 343px;
top: 468px;
}

.lw-p1-style {
font-family: 'Open Sans';
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 1.152px;

color: #252525;
}

.lw-first-p2 {
position: absolute;
width: 336px;
height: 46px;
left: 123px;
top: 510px;
text-align: right;
}

.lw-p2-style {
font-family: 'Open Sans';
font-size: 13px;
line-height: 23px;

display: flex;
align-items: center;

letter-spacing: 0.832px;

color: #C2C2C2;
}

.lw-second {
position: relative;
width: 583px;
height: 596px;
left: 0px;
top: -200px;
}

.lw-kit-position {
left: 0px;
top: 0px;

background-image: url(/images/works2.png);

}

.lw-scnd-rm {
position: absolute;
width: 81px;
height: 18px;
left: 174px;
top: 578px;

text-transform: uppercase;
text-decoration: line-through;
text-decoration-color: #4CAF50;
text-decoration-style: solid;

font-family: 'Open Sans';
font-size: 13px;
line-height: 15px;
display: flex;
align-items: flex-end;
letter-spacing: 0.832px;

color: #252525;
}

.lw-second-position {
position: absolute;
width: 208px;
height: 142px;
left: 370px;
top: 268px;}


.lw-line-throw {
text-decoration: line-through;
text-decoration-color: #4CAF50;
}

.lw-second-p1 {
position: absolute;
width: 116px;
height: 25px;
left: 174px;
top: 467px;
}

.lw-second-p2 {
position: absolute;
width: 336px;
height: 46px;
left: 174px;
top: 512px;
}

.lw-third {

position: relative;
width: 584px;
height: 555px;
left: 601px;
top: -400px;

}

.lw-prod-position {
left: 129px;
top: 0px;

background-image: url(/images/works1.png);
}

.lw-third-position {
position: absolute;
width: 450px;
height: 142px;
left: 0px;
top: 262px;
}

.lw-forth {
position: relative;
width: 609px;
height: 558px;
left: 6px;
top: -600px;
}

.lw-mag-position {
left: 0px;
top: 0px;

background-image: url(/images/works4.png);
}

.lw-view {
position: relative;
width: 70px;
height: 19px;
left: 1118px;
top: -600px;

text-transform: lowercase;
text-decoration: none;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 2px;

color: #252525;

cursor: pointer;
}


.lw-view:hover {
color: #4CAF50;
text-decoration: underline;
text-decoration-style:solid;
text-decoration-color: #4CAF50;
}

.team {
width: 1800px;
height: 845px;
margin: auto;
}

.team-title {
position: relative;
width: 208px;
height: 74px;
left: 315px;
top: 135px;
}

.team-h2-position {
position: absolute;
width: 210px;
height: 71px;
left: 0px;
top: -6px;

}

.person-card {
width: 370px;
height: 398px;

display: flex;
align-items: flex-end;


}

.card1 {background-image: url(/images/team1.png);}
.card2 {background-image: url(/images/team2.png);}
.card3 {background-image: url(/images/team3.png);}

.opened-card {
position: relative;
width: 370px;
height: 50px;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;

text-align: center;
align-items: center;

cursor: pointer;
}

.opened-card:hover {
opacity: 0.92;
height: 155.24px;
}

.team-name {

margin: 13px;

text-transform: uppercase;

font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

letter-spacing: 1.152px;

color: #252525;
}

.team-hr {

width: 45px;
height: 3px;

top: 50px;

background: #252525;
}

.team-job {

margin: 10px;

font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

letter-spacing: 1.152px;

color: #252525;
}

.team-descr {
top: 100px;

font-family: 'Open Sans';
font-size: 12px;
line-height: 25px;

letter-spacing: 1.008px;

color: #777777;
}

.blog {

width: 1800px;

text-align: center;
align-items: center;

}

.blog-text {
text-align: center;

width: 735px;
height: 93px;

top: 0px;

font-family: 'Open Sans';
font-size: 14px;
line-height: 31px;

letter-spacing: 0.896px;

color: #373737;
margin: 117px auto 0;
}

.img-numbers {
opacity: 0.34;
margin: 20px auto 20px;
}

.blog-contact {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;

}

.DJ {
text-transform: uppercase;
font-weight: bold;

cursor: pointer;
}

.DJ:hover {
color: #4CAF50;
}

.blog-stars {
margin: 20px auto 50px;
}

.icon-next {
position: relative;
left: 750px;
top: -50px;;
opacity: 0.5;
cursor: pointer;
}

.icon-next:hover {
opacity: 1;
}

.contacts {
display: flex;
width: 1800px;
height: 300px;

}

.cont-1 {
width: 50%;
text-align: center;
}

.cont-2 {
width: 50%;
text-align: center;
background-color: #4CAF50;;
}

.icon-cont {
margin: 69px auto 10px;
}

.cont-p1 {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

letter-spacing: 2.66667px;
}

.cont-p2 {
font-family: 'Open Sans';
font-size: 14px;
line-height: 16px;

letter-spacing: 1.55556px;

mix-blend-mode: normal;
opacity: 0.8;

margin: 22px auto 100px;
}

.color-373737 {
color: #373737;
}

.color-ffffff {
    color: #ffffff;
}

